sqlalchemy
psycopg2-binary
dash
geoalchemy2
pandas
python-dotenv
geopandas
dash-bootstrap-components
wagtail
django-environ
django-cors-headers
patchy
graphene-django
sentry_sdk
djangorestframework
django-extensions
