psycopg2-binary
pandas
python-dotenv
wagtail
wagtail-localize
django-environ
django-cors-headers
patchy
graphene<3.0
graphene-django<3.0
graphene-django-optimizer
sentry_sdk
djangorestframework
django-extensions
scipy
arrow
filterpy
sqlalchemy
# -e git+https://github.com/City-of-Helsinki/django-munigeo.git@0.2#egg=django-munigeo
geopandas
celery
redis
django-modeltrans
pyyaml
factory-boy
pytest-factoryboy
pytest-django
numba
orjson
