<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mocaf Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'analytics/main.css' %}" rel="stylesheet">
    <style>
        body {margin: 0; font-family: sans-serif; width: 100vw; height: 100vh; overflow: hidden;}
        .hoverlayer {display: none; }
    </style>
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="{% static 'analytics/main.js' %}"></script>
    <script type="text/javascript">
      const config = {
        graphqlUrl: '{% url "graphql" %}',
        cubeUrl: '{% url "cubejs-api" %}',
        sentryDSN: '{{ SENTRY_DSN }}',
      };
      initializeApp(document.getElementById('app'), config);
    </script>
</body>

</html>
